/* font-weight: normal, bold, bolder, light, lighter */
/* font-weight: 100, 200, 300, 400, 800 */
html, body, h1, h2, h3, h4, h5, h6, p, div, form, input, textarea {margin: 0; padding: 0; box-sizing: border-box;}
h1, h2, h3, h4, h5, h6 {font-weight: inherit;}
img {vertical-align: bottom;}

a {color: inherit; text-decoration: none;}

.clear::after {display: block; content: ''; clear: both;}

.w100 {width: 100%;}
.mw100 {max-width: 100%;}